# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

src/bin/Debug/netcoreapp2\.0/iot-edge-modbus\.deps\.json

src/bin/Debug/netcoreapp2\.0/iot-edge-modbus\.dll

src/bin/Debug/netcoreapp2\.0/iot-edge-modbus\.runtimeconfig\.dev\.json

src/bin/Debug/netcoreapp2\.0/iot-edge-modbus\.runtimeconfig\.json

src/bin/Release/netcoreapp2\.0/iot-edge-modbus\.deps\.json

src/bin/Release/netcoreapp2\.0/iot-edge-modbus\.dll

src/bin/Release/netcoreapp2\.0/iot-edge-modbus\.runtimeconfig\.dev\.json

src/bin/Release/netcoreapp2\.0/iot-edge-modbus\.runtimeconfig\.json

src/bin/Release/netcoreapp2\.0/publish/de/Microsoft\.Data\.Edm\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/de/Microsoft\.Data\.OData\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/de/System\.Spatial\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/DotNetty\.Buffers\.dll

src/bin/Release/netcoreapp2\.0/publish/DotNetty\.Codecs\.dll

src/bin/Release/netcoreapp2\.0/publish/DotNetty\.Codecs\.Mqtt\.dll

src/bin/Release/netcoreapp2\.0/publish/DotNetty\.Common\.dll

src/bin/Release/netcoreapp2\.0/publish/DotNetty\.Handlers\.dll

src/bin/Release/netcoreapp2\.0/publish/DotNetty\.Transport\.dll

src/bin/Release/netcoreapp2\.0/publish/es/Microsoft\.Data\.Edm\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/es/Microsoft\.Data\.OData\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/es/System\.Spatial\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/fr/Microsoft\.Data\.Edm\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/fr/Microsoft\.Data\.OData\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/fr/System\.Spatial\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/iot-edge-modbus\.deps\.json

src/bin/Release/netcoreapp2\.0/publish/iot-edge-modbus\.dll

src/bin/Release/netcoreapp2\.0/publish/iot-edge-modbus\.runtimeconfig\.json

src/bin/Release/netcoreapp2\.0/publish/it/Microsoft\.Data\.Edm\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/it/Microsoft\.Data\.OData\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/it/System\.Spatial\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/ja/Microsoft\.Data\.Edm\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/ja/Microsoft\.Data\.OData\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/ja/System\.Spatial\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/ko/Microsoft\.Data\.Edm\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/ko/Microsoft\.Data\.OData\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/ko/System\.Spatial\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Azure\.Amqp\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Azure\.Devices\.Client\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Azure\.Devices\.Shared\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Data\.Edm\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Data\.OData\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Extensions\.Configuration\.Abstractions\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Extensions\.Configuration\.Binder\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Extensions\.Configuration\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Extensions\.Configuration\.EnvironmentVariables\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Extensions\.Configuration\.FileExtensions\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Extensions\.Configuration\.Json\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Extensions\.DependencyInjection\.Abstractions\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Extensions\.FileProviders\.Abstractions\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Extensions\.FileProviders\.Physical\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Extensions\.FileSystemGlobbing\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Extensions\.Logging\.Abstractions\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Extensions\.Logging\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.Extensions\.Primitives\.dll

src/bin/Release/netcoreapp2\.0/publish/Microsoft\.WindowsAzure\.Storage\.dll

src/bin/Release/netcoreapp2\.0/publish/Newtonsoft\.Json\.dll

src/bin/Release/netcoreapp2\.0/publish/ru/Microsoft\.Data\.Edm\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/ru/Microsoft\.Data\.OData\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/ru/System\.Spatial\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/runtimes/win/lib/netstandard2\.0/System\.IO\.Ports\.dll

src/bin/Release/netcoreapp2\.0/publish/System\.IO\.Ports\.dll

src/bin/Release/netcoreapp2\.0/publish/System\.Runtime\.CompilerServices\.Unsafe\.dll

src/bin/Release/netcoreapp2\.0/publish/System\.Spatial\.dll

src/bin/Release/netcoreapp2\.0/publish/Validation\.dll

src/bin/Release/netcoreapp2\.0/publish/zh-Hans/Microsoft\.Data\.Edm\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/zh-Hans/Microsoft\.Data\.OData\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/zh-Hans/System\.Spatial\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/zh-Hant/Microsoft\.Data\.Edm\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/zh-Hant/Microsoft\.Data\.OData\.resources\.dll

src/bin/Release/netcoreapp2\.0/publish/zh-Hant/System\.Spatial\.resources\.dll

src/obj/Debug/netcoreapp2\.0/iot-edge-modbus\.csproj\.FileListAbsolute\.txt

src/obj/Debug/netcoreapp2\.0/iot-edge-modbus\.dll

src/obj/iot-edge-modbus\.csproj\.nuget\.cache

src/obj/iot-edge-modbus\.csproj\.nuget\.g\.props

src/obj/project\.assets\.json

src/obj/Release/netcoreapp2\.0/iot-edge-modbus\.AssemblyInfo\.cs

src/obj/Release/netcoreapp2\.0/iot-edge-modbus\.AssemblyInfoInputs\.cache

src/obj/Release/netcoreapp2\.0/iot-edge-modbus\.csproj\.CoreCompileInputs\.cache

src/obj/Release/netcoreapp2\.0/iot-edge-modbus\.csproj\.FileListAbsolute\.txt

src/obj/Release/netcoreapp2\.0/iot-edge-modbus\.dll

src/obj/Debug/netcoreapp2\.0/iot-edge-modbus\.assets\.cache

src/obj/Debug/netcoreapp2\.0/iot-edge-modbus\.csprojAssemblyReference\.cache
